- title_and_header = "Pay a daily #{@compliance_details.zone_name} Clean Air Zone charge"
- page_title(title_and_header)

= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if alert
        = render 'common/error_summary',
          error_msg_div: '#confirmation-error',
          error_msg: alert

      %h1.govuk-heading-l
        = title_and_header
      %p
        The daily charge for your vehicle is:
      %h2.govuk-heading-m
        = parse_charge(@compliance_details.charge)

      - if @undetermined_taxi
        %p
          Data used to calculate the compliance of your vehicle is missing from your V5C registration certificate (log book).
        %p
          If your vehicle
          %strong does
          meet Clean Air standards, you can claim a refund when your vehicle details are updated.
        %br

      %p
        The charge period runs from midnight to midnight.
      .govuk-warning-text
        %span.govuk-warning-text__icon{'aria-hidden': true } !
        %strong.govuk-warning-text__text
          %span.govuk-warning-text__assistive
            Warning
          Payment must be made a maximum of 7 days after you have driven in the zone or you may receive a penalty charge notice (PCN).
      = form_tag confirm_daily_charge_dates_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-visually-hidden
              Confirm a daily charge

            - if alert
              %span#confirmation-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = alert

            .govuk-checkboxes
              .govuk-checkboxes__item
                %input.govuk-checkboxes__input{name: 'confirm-exempt',
                                               type: 'checkbox',
                                               value: 'yes',
                                               checked: session.dig(:vehicle_details, 'confirm_exempt'),
                                               id: 'confirm-exempt'}
                %label.govuk-label.govuk-checkboxes__label{for: 'confirm-exempt'}
                  I confirm I do not have an exemption from the #{@compliance_details.zone_name} Clean Air Zone charge.
                  %br
                  = precede '(' do
                    = succeed ').' do
                      = link_to("Find out who can apply for an exemption in #{@compliance_details.zone_name}",
                                @compliance_details.exemption_or_discount_url,
                                id: 'exemption-link')
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
      %p
        = succeed '.' do
          = link_to("Contact the local authority for support to upgrade or replace your vehicle in #{@compliance_details.zone_name}",
                    @compliance_details.dynamic_compliance_url,
                    id: 'compliance-link')
