- title_and_header = 'When would you like your weekly charge to start?'
- page_title(title_and_header)

= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if alert
        = render 'common/error_summary',
          error_msg_div: '#confirm_weekly_charge_today-error',
          error_msg: alert

      %h1.govuk-heading-l
        = title_and_header

      = form_tag select_weekly_period_dates_path, method: :post do
        %fieldset.govuk-fieldset
          %legend.govuk-visually-hidden
            State if you would like your weekly charge to start today or another day

          - if alert
            = render 'dates/select_weekly_period_input/errored'
          - else
            = render 'dates/select_weekly_period_input/normal'

          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
