- title_and_header = 'Which days do you want to pay for?'
- page_title(title_and_header)

= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if alert
        = render 'common/error_summary',
          error_msg_div: '#select-daily-date-error',
          error_msg: alert

      %h1.govuk-heading-l
        = title_and_header
      %p
        A daily charge period runs from midnight to midnight.

      = render 'dates/details'
      = render 'dates/daily/inset' if @dates.any? { |date| date[:disabled] }  && !@all_paid
      = render 'dates/daily/all_paid' if @all_paid

      %span.govuk-hint
        Select all that apply.

      = form_tag confirm_daily_date_dates_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-visually-hidden
              Which days do you want to pay for?

            - if alert
              %span#select-daily-date-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = alert

            .govuk-checkboxes
              - @dates.each_with_index do |date, index|
                .govuk-checkboxes__item
                  %input.govuk-checkboxes__input{name: 'dates[]',
                                                 type: 'checkbox',
                                                 value: date[:value],
                                                 id: "date-#{index}",
                                                 checked: checked_daily?(date[:value]),
                                                 disabled: date[:disabled]}
                  %label.govuk-label.govuk-checkboxes__label{for: "date-#{index}"}
                    = display_date(date)
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button' if !@all_paid
