- content_for(:title, service_name)
= link_to 'Back', local_authority_charges_path, class: 'govuk-back-link', id: 'back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There is a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              %li
                %a{href: '#period-error', id: 'error-summary'}
                  State if you are paying for 1 day or 7 days

      %h1.govuk-heading-l What would you like to do?
      = render 'common/draft_tag'
      .govuk-inset-text
        Taxis and private hire vehicles licensed by Leeds City Council can pay a reduced charge of
        £50 a week.
      = form_tag confirm_select_period_charges_path, method: :post do
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          - if alert
            = render 'dates/select_period_input/errored'
          - else
            = render 'dates/select_period_input/normal'
          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
