= link_to 'Back', @return_path, class: 'govuk-back-link', id: 'back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        = render 'common/error_summary',
          error_msg_div: '#confirmation-error',
          error_msg: 'Confirm you have checked if you are eligible for an exemption'

      %h1.govuk-heading-l
        Pay a
        = @compliance_details.zone_name
        Clean Air Zone weekly charge
      = render 'common/draft_tag'
      %p
        The weekly charge for your vehicle is:
      %h2.govuk-heading-m
        = parse_charge(@weekly_charge)
      %p
        Paying the weekly charge lets you drive the same vehilce in the Leeds Clean Air Zone as
        often as you like within a 7-day period.
      %p
        You must pay for the weekly charge either on the first day or by midnight on the next
        working day after you drive in a Clean Air Zone.
      .govuk-warning-text
        %span.govuk-warning-text__icon{'aria-hidden': true } !
        %strong.govuk-warning-text__text
          %span.govuk-warning-text__assistive
            Warning
          If you don't pay by midnight on the next working day after you have driven in the zone,
          you will be sent a fine.
      = form_tag confirm_weekly_charge_dates_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            - if alert
              %span#confirmation-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                Confirm you have checked if you are eligible for an exemption
            .govuk-checkboxes
              .govuk-checkboxes__item
                %input.govuk-checkboxes__input{name: 'confirm-exempt',
                                               type: 'checkbox',
                                               value: 'yes',
                                               id: 'confirm-exempt'}
                %label.govuk-label.govuk-checkboxes__label{for: 'confirm-exempt'}
                  I confirm that I am not exempt from the
                  = @compliance_details.zone_name
                  Clean Air Zone charge
                  (full details about who is exempt from paying the charge in
                  = @compliance_details.zone_name
                  can be found
                  = succeed ').' do
                    = link_to('here',
                              @compliance_details.exemption_or_discount_url ,
                              target: '_blank',
                              id: 'exemption-link')
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'

        %p= link_to 'Discover alternatives having to pay', '#', id: 'discover-alternatives'
