= link_to 'Back', @return_path, class: 'govuk-back-link', id: 'back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = form_tag submit_type_non_dvla_vehicles_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
              %h1.govuk-fieldset__heading
                What is your vehicle?
              = render 'common/draft_tag'
            %p
              Since we are not able to find your vehicle's details, you'll need to tell us what type of
              vehicle you want to pay for.
            - if alert
              %span#caz-select-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                Tell us what type of vehicle you want to pay for
            .govuk-radios
              - @types.each_with_index do |type, index|
                - id = "vehicle-type-#{index}"
                .govuk-radios__item
                  %input.govuk-radios__input{name: 'vehicle-type', id: id, type: 'radio', value: type[:value]}
                  %label.govuk-label.govuk-radios__label{for: id}
                    = type[:name]
        = submit_tag 'Confirm', class: 'govuk-button', 'data-module': 'govuk-button'
