- page_title('Payment unsuccessful')

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        Payment unsuccessful
      %p
        Payment reference:
        = @payment_details.reference
        %br
        Payment ID:
        = @payment_details.external_id
      %p
        You may need these reference numbers if you contact us or your bank about this payment.
      %p
        The charge for your journey is not paid. You may receive a penalty charge notice (PCN) if payment is not made within 7 days from driving in the zone.
      %p
        If you would like to try the payment again
        = succeed "." do
          = link_to 'return to the start page', root_path
      = render 'common/print_link'
      %p
        You can contact Clean Air Zone support if you cannot use the online service or you need help.
      %h2.govuk-heading-m
        Contact Clean Air Zone Support
      %p
        = link_to('Online contact form', 'https://contact.dvla.gov.uk/caz/')
        %br
        Telephone: 0300 029 8888
        %br
        Monday to Friday, 10am to 4pm
        %br
        = link_to('Find out about call charges', 'https://www.gov.uk/call-charges')
