- content_for(:title, service_name)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          Payment complete
        .govuk-panel__body
          Payment reference
          %br
            %strong
              = @payment_details.reference
          %br
          GOV.UK payment ID
          %br
            %strong
              = @payment_details.external_id
      %p
        A receipt will be sent to
        = succeed '.' do
          = @payment_details.user_email
      %p You can use the payment reference above as proof of payment.
      %h1.govuk-heading-m You have paid for:
      %table.govuk-table
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell Registration number
            %th.govuk-table__header{scope: 'row'}
              = @payment_details.vrn
          %tr.govuk-table__row
            %td.govuk-table__cell Clean Air Zone
            %th.govuk-table__header{scope: 'row'}
              = @payment_details.la_name
          %tr.govuk-table__row
            %td.govuk-table__cell Payment for
            %th.govuk-table__header{scope: 'row'}
              = parse_dates(@payment_details.dates).join(', ')
          %tr.govuk-table__row
            %td.govuk-table__cell Total charge
            %th.govuk-table__header{scope: 'row'}
              = parse_charge(@payment_details.total_charge)
      %h2.govuk-heading-m
        Alternatives to paying the charge
      %ul.govuk-list.govuk-list--bullet
        %li
          = external_link_to 'Get support to upgrade or replace your vehicle',
                             @payment_details.compliance_details.compliance_url,
                             id: 'become-compliant-url'
        %li
          = external_link_to 'Explore cycling and public transport options',
                             @payment_details.compliance_details.public_transport_options_url,
                             id: 'public-transport-options-url'
      = render 'common/print_link'


    .govuk-grid-column-one-third
      %h2.govuk-heading-m
        Other tasks
      %ul.govuk-list.govuk-list--bullet
        - if @payment_details.chargeable_zones_count > 1
          %li
            = link_to 'Pay for another Clean Air Zone',
              local_authority_charges_path,
              id: 'check-another-caz'
        %li
          = link_to 'Pay for another vehicle',
            enter_details_vehicles_path,
            id: 'pay-another-vehicle'
