- title_and_header = 'Incorrect vehicle details'
- page_title(title_and_header)

= link_to 'Back', @return_path, class: 'govuk-back-link', id: 'back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l= title_and_header
      %p
        If your vehicle details are incorrect, you can
        = succeed '.' do
          = link_to('update them with the DVLA',
                    'https://www.gov.uk/change-vehicle-details-registration-certificate/how-to-tell-dvla',
                    id: 'dvla-link')
      %p
        You still need to pay a charge if you have driven, or are planning to drive, in the zone.
      %p
        If your vehicle does meet emission standards,
        you can claim a refund when your registration details are updated.

      = link_to('Continue', undetermined_vehicle? ? not_determined_vehicles_path : local_authority_charges_path, class: 'govuk-button', 'data-module': 'govuk-button')
      %p
        = link_to('Check another vehicle', enter_details_vehicles_path)
