= link_to 'Back', details_vehicles_path, class: 'govuk-back-link', id: 'back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Incorrect vehicle details
      = render 'common/draft_tag'
      %p
        If your vehicle details are incorrect, you may need to
        = succeed '.' do
          = link_to 'update them', 'https://www.gov.uk/change-vehicle-details-registration-certificate',
          target: '_blank'
      %p
        You still need to pay the Clean Air Zone charge, if you have driven or are planning to
        drive in a Clean Air Zone. However, as long as your vehicle meets Clean Air standards,
        you'll be able to claim a refund once your vehicle registration details are updated.

      = link_to('Continue', local_authority_charges_path, class: 'govuk-button', 'data-module': 'govuk-button')
      %p
        = link_to('Check another vehicle', enter_details_vehicles_path)
