- title_and_header = 'Vehicle details are incomplete'
- page_title(title_and_header)
= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l= title_and_header
      %p
        Data used to calculate the compliance of your vehicle is missing from your V5C registration
        certificate (log book). You must
        = link_to('update the details',
                  'https://www.gov.uk/change-vehicle-details-registration-certificate/how-to-tell-dvla',
                  id: 'update-vehicle-details')
        the DVLA holds for your vehicle.
      .govuk-warning-text
        %span.govuk-warning-text__icon{'aria-hidden': true } !
        %strong.govuk-warning-text__text
          %span.govuk-warning-text__assistive
            Warning
          You must update your vehicles with DVLA, or your vehicle may be classed as chargeable and you may
          receive a penalty charge notice (PCN) if you drive into a zone and do not pay the charge.
      %h1.govuk-heading-m You still have to pay the Clean Air Zone charge
      %p
        Payment must be made a maximum of 7 days after you have driven in the zone or you may receive a
        penalty charge notice (PCN).
      %p
        If your vehicle does meet emission standards, you can claim a
        = link_to('refund',
                  'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                  id: 'refund-link')
        from the local authority after your registration details have been updated.
      %p
        If you want to discuss this matter further
        = succeed '.' do
          = link_to_dvla_contact_form('contact clean air zones')
      = link_to('Continue',
                not_determined_vehicles_path(id: session[:transaction_id]),
                class: 'govuk-button',
                'data-module': 'govuk-button')

