- title_and_header = 'Vehicle details are incomplete'
- page_title(title_and_header)
= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        = render 'common/error_summary',
          error_msg_div: '#choose-type-error',
          error_msg: 'Tell us what type of vehicle you want to pay for'

      = form_tag not_determined_vehicles_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
              %h1.govuk-fieldset__heading
                = title_and_header
            %p
              Data used to calculate the compliance of your vehicle is missing from your V5C registration certificate (log book).
            %p
              If your vehicle
              %strong does
              meet Clean Air standards, you can claim a refund when your vehicle details are updated.
            %h2.govuk-heading-m
              What is your vehicle?
            - if alert
              %span#choose-type-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                Tell us what type of vehicle you want to pay for
            .govuk-radios
              - @types.each_with_index do |type, index|
                - id = "vehicle-type-#{index}"
                .govuk-radios__item
                  %input.govuk-radios__input{name: 'vehicle-type', id: id, type: 'radio', checked: (session.dig(:vehicle_details, 'type') == type[:value]), value: type[:value]}
                  %label.govuk-label.govuk-radios__label{for: id}
                    = type[:name]
        = submit_tag 'Confirm', class: 'govuk-button', 'data-module': 'govuk-button'
