= link_to 'Back', @return_path, class: 'govuk-back-link', id: 'back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There is a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              %li
                %a{href: "#caz-select-error"}
                  State which Clean Air Zone you are paying for

      = form_tag submit_local_authority_charges_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
              %h1.govuk-fieldset__heading
                Which Clean Air Zone do you need to pay for?
              = render 'common/draft_tag'
            %p
              You need to pay separately for each Clean Air Zone you drive in.
            - if @zones.size == 1
              = render 'charges/one_zone'
            - if alert
              %span#caz-select-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = alert
            .govuk-radios
              - @zones.each do |zone|
                .govuk-radios__item
                  %input.govuk-radios__input{name: 'local-authority',
                                             type: 'radio',
                                             value: zone.id,
                                             id: zone.name.downcase}
                  %label.govuk-label.govuk-radios__label{for: zone.name.downcase}
                    = zone.name
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
