- content_for(:title, 'Confirm your payment')
= link_to 'Back', @return_path, class: 'govuk-back-link', id: 'back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Review your payment
      = render 'common/draft_tag'
      = form_tag payments_path, method: :post do
        %table.govuk-table
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %td.govuk-table__cell
              %td.govuk-table__cell
              %td.govuk-table__cell
            %tr.govuk-table__row
              %td.govuk-table__cell Registration number
              %th.govuk-table__header{scope: 'row', id: 'value-vrn'}
                = @vrn
              %td.govuk-table__cell
                = link_to 'Change', enter_details_vehicles_path, class: 'govuk-link', id: 'change-vrn'
            %tr.govuk-table__row
              %td.govuk-table__cell Clean Air Zone
              %th.govuk-table__header{scope: 'row', id: 'value-la'}
                = @la_name
              %td.govuk-table__cell
                = link_to 'Change', local_authority_charges_path, class: 'govuk-link', id: 'change-la' if @chargeable_zones > 1
            %tr.govuk-table__row
              %td.govuk-table__cell Payment for
              %th.govuk-table__header{scope: 'row', id: 'value-dates'}
                - parse_dates(@dates).each do |date| 
                  - unless date.eql? parse_dates(@dates).last
                    = date + ','
                    %br
                  - else
                    = date
              %td.govuk-table__cell
                = link_to 'Change', determinate_payment_for_path(@weekly_period), class: 'govuk-link', id: 'change-dates'
            %tr.govuk-table__row
              %td.govuk-table__cell Total charge
              %th.govuk-table__header{scope: 'row', id: 'value-charge'}
                = parse_charge(@total_charge)
              %td.govuk-table__cell
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
