- title_and_header = 'Review your payment'
- page_title(title_and_header)
- new_id = SecureRandom.uuid

= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header
      = form_tag payments_path, method: :post do
        %table.govuk-table
          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header.table-without-border{colspan: 3, id: 'table-header'}
                Payment details
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %td.govuk-table__cell
                Number Plate
              %td.govuk-table__header{scope: 'row', id: 'vrn'}
                = @vrn
              %td.govuk-table__cell
                = link_to enter_details_vehicles_path(id: new_id, new: true), class: 'govuk-link', id: 'change-vrn' do
                  Change
                  %span.govuk-visually-hidden number plate
            %tr.govuk-table__row
              %td.govuk-table__cell Clean Air Zone
              %td.govuk-table__header{scope: 'row', id: 'la-name'}
                = @la_name
              %td.govuk-table__cell
                - if @chargeable_zones > 1
                  = link_to local_authority_charges_path(id: new_id, new: true), class: 'govuk-link', id: 'change-la' do
                    Change
                    %span.govuk-visually-hidden Clean Air Zone
            %tr.govuk-table__row
              %td.govuk-table__cell Payment for
              %td.govuk-table__header{scope: 'row', id: 'dates'}
                - if @weekly_period
                  - @dates.each do |date|
                    = "#{date.first} - #{date.second}"
                    %br
                - else
                  - parse_dates(@dates).each do |date|
                    - unless date.eql? parse_dates(@dates).last
                      = date + ','
                      %br
                    - else
                      = date
              %td.govuk-table__cell
                = link_to determinate_payment_for_path(@weekly_period, @weekly_charge_today, new_id), class: 'govuk-link', id: 'change-dates' do
                  Change
                  %span.govuk-visually-hidden payment for
            %tr.govuk-table__row
              %td.govuk-table__cell Total charge
              %td.govuk-table__header{scope: 'row', id: 'total-charge'}
                = parse_charge(@total_charge)
              %td.govuk-table__cell
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'

        - if @second_week_available
          %p= link_to 'Add another week',
              select_second_weekly_date_dates_path(id: SecureRandom.uuid, new: true),
              class: 'govuk-button govuk-button--secondary',
              id: 'add-another-week-link',
              'data-module': 'govuk-button'
